# Dependencies
node_modules
.pnp
.pnp.js

# Testing
.coverage
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js build output
.next/
out/
build/
dist/

# IOTA Move build output
contracts/**/build
contracts/**/Move.lock